<%= render "shared/second-header" %>
<div class="topver"></div>

<div class="main">
  <div class="main-contents login">
    <div class="form-wrapper new">

      <div class="form-top">
       投稿を編集
      </div>
      <%# 部分テンプレートでフォームを表示する %>
      <%= form_with model: @article, id: 'new_post',local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %> 

        <div class="post-field">
          <div class="field-flex">
            状態
            <span class="indispensable">必須</span>
            <%= f.label(:pubulic, for: nil, class: 'article-status-label') do %>
              <%= f.radio_button :status, :public %>
              <%= t ".public" %>
            <% end %>
            <%= f.label(:private, for: nil, class: 'article-status-label') do %>
              <%= f.radio_button :status, :private %>
              <%= t ".private"  %>
            <% end %>
            
          </div>
       </div>

       <div class="post-field">
         <div class="field-flex">
           カテゴリー
           <span class="indispensable">必須</span>
         </div>
         <%= f.collection_select(:category_id,Category.all, :id, :name, {}, {class:"select-box", id:"article-category"}) %>
       </div>

       <div class="post-field">
         <div class="field-flex">
           タイトル
           <span class="indispensable">必須</span>
         </div>
         <%= f.text_field :article_name, class: :form__title, id:"article_text",
           placeholder: "20文字以内" %>
       </div>

       <div class="field">
         <div class="field-flex">
           投稿画像
           <span class="indispensable">必須</span>
         </div>
         <%# if current_user.image.present? %> 
           <%#div id="article-user-previews">
             <%#= image_tag @article.image , id: 'article-img' %>
             <%#= f.file_field :image, id: "article-image"%>
           <%#/div>
         <%# else %>
          <div id="previews"></div>
          <%= f.file_field :image, id: "article-image"%>
         <%# end %>
       </div>

       <div class="post-field">
         <div class="field-flex">
           内容
           <span class="indispensable">必須</span>
         </div>
         <%= f.text_area :text, class: :form__text, id:"item_text",
           placeholder: "400字以内" %>
       </div>

       <div class="field">
         <%= f.submit "編集する" , class: :form__btn %>
       </div>

      <% end %>
      

    </div>
  </div>
</div>

<%= render "shared/second-footer"%>