<div class= "app">
  <%= render "shared/header" %>
  <div class="main">
    <%= render "shared/sidebar" %>
    <%= form_with model: @article, id: 'new_post', url: articles_path, class: 'article-form-main', local: true do |f| %>
      <div class='article-form-wrap'>
        <div class='article-form-header'>
          <h1 class='article-form-header-text'>
            新しい投稿
          </h1>
        </div>

        <%= render 'shared/error_messages', model: f.object %> 

        <div class="article-form-group">
          <label class="user-form-text">状態</label> 
          <span class="indispensable">必須</span>
          <%= f.label(:pubulic, for: nil, class: 'article-status-label') do %>
            <%= f.radio_button :status, :public %>              <%= t ".public" %>
          <% end %>
          <%= f.label(:private, for: nil, class: 'article-status-label') do %>
            <%= f.radio_button :status, :private %>
            <%= t ".private"  %>
          <% end %>
        </div>

        <div class="article-form-group">
          <label class="article-form-text">投稿画像</label>
          <span class="indispensable">必須</span>
          <div id="previews"></div>
          <%= f.file_field :image, id: "article-image"%>
        </div>

        <div class="article-form-group">
          <label class="article-form-text">カテゴリー</label>
          <span class="indispensable">必須</span>
          <%= f.collection_select(:category_id,Category.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"article-category"}) %>
        </div>

        <div class="article-form-group">
          <label class="article-form-text">タイトル</label>
          <span class="indispensable">必須</span>
          <%= f.text_field :article_name, class: 'article-title', id:"article_text", placeholder: "20文字以内" %>
        </div>
       
        <div class="article-form-group">
          <label class="article-form-text">内容</label>
          <span class="indispensable">必須</span>
          <%= f.text_area :text, class: 'article-text', id:"item_text", placeholder: "400字以内" %>
        </div>

        <div class=" article-btn">
          <%= f.submit "投稿する" , class: "article-blue-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

