
<div class= "app">
  <%= render "shared/header" %>
  <div class="main">
    <%= render "shared/sidebar" %>
    <div class='index-main'>
      <div class='index-contents'>
        <div class='index-sort'>
          <span class='index-sort-title'>検索結果 <%= @articles.count %> 件</span>
        </div>
        <ul class='index-article-lists'>
          <% @articles.each do |article| %>
              <li class='index-article-list'>
                <%= link_to article_path(article.id), method: :get do %>
                  <div class='article-content'>
                    <div class='article-img-content'>
                      <%= image_tag article.image, class: "article-img" if article.image.attached? %>
                    </div>
                    <div class='article-info-content'>
                      <div class='article-info'>
                        <div class='article-user-image'>
                          <%= image_tag article.user.image, id: "article-user-image" %>
                        </div>
                        <div class='article-name'>
                          <%= article.article_name %>
                        </div>
                      </div>
                      <div class='article-user-info'>
                        <div class='article-like-content'>
                          <div class='article-like'>
                            <i class="fa-solid fa-thumbs-up icon-like"></i>
                          </div>
                          <div class='article-like-count'>
                            <%= '5000000' %>
                          </div>
                        </div>
                        <div class='article-date-content'>
                          <div class='article-username'>
                            <%= article.user.username %>
                          </div>
                          <div class='article-date'>
                            <%= l article.created_at, format: :long %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
      <div class='item-contents' id="detailed-search-result-wrapper">
        <%= search_form_for @q, url: search_articles_path, html: {id: "detailed-search-form"} do |f| %>
          <div class="search-field">
            <%= f.label :category_id_in, 'カテゴリ' %>
            <br>
            <%= f.collection_check_boxes(:category_id_in, Category.all, :id, :name, {include_blank: "---"}) %>
         </div>
         <%= f.submit '検索' %>
        <% end %>
      </div>
    </div>
    <%= link_to(new_article_path, class: 'post-btn') do %>
      <i class="fa-solid fa-plus fa-2x fa-fw" style="color:white;"></i>
    <% end %>
  </div>
 

</div>