<div class= "app">
  <%= render "shared/header" %>
  <div class="main">
    <%= render "shared/sidebar" %>
    <div class="article-show-main">
      <div class="article-show-category">
        <%= @article.category.name %>
      </div>
      <div class='article-show-user-info'>
        <% if user_signed_in? && current_user.id == @article.user_id %>
          <% if @article.status_private? %>
            <div class='article-show-article-private'>
              <%= t ".private" %>
            </div>
          <% else @article.status_public? %>
            <div class='article-show-article-public'>
              <%= t ".public" %>
            </div>
          <% end %>
        <% end %>
        <div class='article-show-user-image'>
          <%= link_to (image_tag @article.user.image, class: "article-show-user-img"), user_path(@article.user.id) %>
        </div>
        <div class='article-show-user-data'>
          <div class='article-show-user-name'>
            <%= link_to  @article.user.username, user_path(@article.user.id), class: "article-show-username" %>
          </div>
          <div class='article-show-article-date'>
            <%= l @article.created_at, format: :long %>
          </div>
        </div>
        <div class="article-show-navi">
          <% if user_signed_in? && current_user.id == @article.user_id %>
            <%= link_to "編集", edit_article_path(@article.id), method: :get, class: "article-edit-btn" %>
            <%= link_to "削除", article_path(@article.id), method: :delete, class:"article-destroy-btn" %>
          <% end %>
        </div>
      </div>
      <div class="article-show-title">
        <h2 class="article-show-name">
          <%= @article.article_name %>
        </h2>
      </div>
      <div class="article-show-img-box">
        <div class="article-show-img-content">
          <%= image_tag @article.image ,class:"article-show-box-img" %>
        </div>
      </div>
      <div class="article-show-explain-box">
        <span><%= simple_format(@article.text) %></span>
      </div>
      
      <div id="comments">
        <h4>＜コメント一覧＞</h4>
        <% @article.comments.each do |comment| %>
          <div class="comment">
            <p class="user-info"><%= comment.user.username %>： </p>
            <p><%= comment.text%></p>
          </div>
        <% end %>
      </div>

      <div class="comment-form">
        <% if user_signed_in? %>
          <%= form_with model: [@article, @comment], id: "comment-form" do |f| %>
            <%= f.text_area :text , class: "comment-text"%>
            <%= f.submit "コメントをする", class: "comment-submit" %>
          <% end %>
        <% end %>
      </div>
       <%#div class="comment-box">
         <form>
         <textarea class="comment-text"></textarea>
         <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <button type="submit" class="comment-btn">
          <%#= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
          <%#span>コメントする<span>
         </button>
        </form>
      </div%>
    </div>
  </div>
</div>
