<%= render "shared/second-header" %>
<div class="topver"></div>

<div class="main">
  <div class="main-contents">
      <div class="form-top profile">
       <p>プロフィール</p>
      </div>

     <div class="profile-main">
       <div class="form-top profile">
         <p>プロフィール</p>
       </div>

       <div class="profile-inner">
          <div class="profile-user-image">
                <% if @user.image.present?%>
                  <%= image_tag @user.image, class: "profile-user-img" %>
                <% else %>
                  <%= image_tag "default.png", class: "profile-user-img" %>
                <% end %>
          </div>
          
          <div class="profiles-inner-user">
                <div class="profile-user-names">
                    <div class="profile-user-name">
                      <%= @user.username %>
                    </div>
                </div>

                <%# ログインしているページが本人か確認する %>
                <% if user_signed_in? && current_user.id == @user.id %>
                    <div class="profile-user-icons">
                      <div class="user-icons">
                        <%#= link_to image_tag( "home2-logo2.png",class: "user-icon" ), "#"%>
                        <%= link_to root_path do %>
                         <i class="fa-solid fa-house fa-4x fa-fw" style="color:black;"></i>
                        <% end %>
                        <span>home</span>
                      </div>
                      <div class="user-icons">
                        <%#= link_to image_tag( "home2-logo2.png",class: "user-icon" ), "#"%>
                        
                      </div>
                        <%#= link_to image_tag( "icon3.png",class: "user-icon" ),  new_item_path%>
                      <div class="user-icons">
                        <%#= link_to image_tag( "favorite2-logo.png",class: "user-icon" ),  "favorites_user_path(@user)"%>
                        <%= link_to "#" do %>
                         <i class="fa-solid fa-heart fa-4x fa-fw" style="color:black;"></i>
                        <% end %>
                        <span>MYリスト</span>
                      </div>
                      <div class="user-icons">
                        <%#= link_to image_tag( "logout2-logo.png",class: "user-icon" ), destroy_user_session_path, method: :delete %>
                        <%= link_to destroy_user_session_path, method: :delete do %>
                         <i class="fa-solid fa-right-from-bracket fa-4x fa-fw" style="color:black;"></i>
                        <% end %>
                        <span>ログアウト</span>
                      </div>
                      <div class="user-icons">
                        <%#= link_to image_tag( "edit2-logo.png",class: "user-icon" ), "edit_user_registration_path" %>
                        <%= link_to edit_user_registration_path do %>
                         <i class="fa-solid fa-pen-to-square fa-4x fa-fw" style="color:black;"></i>
                        <% end %>
                        <span>編集</span>
                      </div>
                    </div>
                <% else %>
                    <div class="profile-user-follows"> 
                      <%# <p>フォロー</p><div class="profile-user-follow">３０</div>
                      <p>フォロワー</p><div class="profile-user-follow">５０００</div> %>
                      <%= link_to "お気に入りの作品 ▼", favorites_user_path(@user), class: "profile-favorite" %> 
                    </div> 
                <% end %>
                <%# /ログインしているページが本人か確認する %>


                <div class="profile-user-profile">
                    <div class="profile-user-prof">
                       <%= simple_format(@user.profile) %>
                    </div>
                 </div>
          </div>

       </div>
     </div>

     <div class="item__wrapper">
          <%# @items.each do |items| %>
          <%# 部分テンプレートでフォームを表示する %>
          <%#= render partial: "items/items", locals: { items: items } %>
          <%# end %>
     </div>

  </div>
</div>

<% if @user_items.present? %>
      <div class="slider_toppage">
        <p class="slider_toppage_p"><%= @user.name %>さんの作品展</p>

        <div class="slider toppage">
           <% @user_items.each do |items| %>
             <div><%= link_to image_tag( items.image , class: :slider__img_toppage ),  item_path(items.id)%>
             </div>
           <% end %>
          </div>
       </div>
<% end %>

<%= render "shared/second-footer"%>
