<div class= "app">
  <%= render "shared/header" %>
  <div class="main">
    <%= render "shared/sidebar" %>
    <div class="user-show-main">
      <div class='user-show-wrap'>
        <div class='user-show-header'>
          <h1 class='user-show-header-text'>
            プロフィール
          </h1>
        </div>
      <div class="user-show-content">
        <div class='user-show-menu'>
          <div class="user-show-image">
            <% if @user.image.present?%>
              <%= image_tag @user.image, class: "user-show-img" %>
            <% else %>
              <%= image_tag "default.png", class: "user-show-img" %>
            <% end %>
          </div>
          
          <div class="user-show-box">
            <div class="user-show-name">
                <%= @user.username %>
            </div>

             <%# ログインしているページが本人か確認する %>
            <% if user_signed_in? && current_user.id == @user.id %>
              <ul class="user-show-icons">
                <li class="user-show-list-box">
                  <%= link_to "#" do %>
                    <div class="user-show-list-image">
                      <i class="fa-solid fa-bag-shopping fa-2x" style="color:black;"></i>
                    </div>
                    <span class="user-show-list">Myリスト</span>
                  <% end %>
                </li>
                <li class="user-show-star-box">
                  <%= link_to "#" do %>
                    <div class="user-show-star-image">
                      <i class="fa-regular fa-star fa-2x" style="color:black;"></i>
                    </div>
                    <span class="user-show-star">お気に入り</span>
                  <% end %>
                </li>
                <li class="user-show-post-box">
                  <%= link_to new_article_path do %>
                    <div class="user-show-post-image" >
                      <i class="fa-regular fa-pen-to-square fa-2x" style="color:black;"></i>
                    </div>
                    <span class="user-show-post">投稿</span>
                  <% end %>
                </li>
                <li class="user-show-edit-box">
                  <%= link_to edit_user_registration_path do %>
                    <div class="user-show-edit-image" id="user-edit-btn">
                      <i class="fa-solid fa-user-pen fa-2x" style="color:black;"></i>
                    </div>
                    <span class="user-show-edit">編集</span>
                  <% end %>
                </li>
                <li class="user-show-logout-box">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <div class="user-show-logout-image" id="user-edit-btn">
                      <i class="fa-solid fa-arrow-right-from-bracket fa-2x" style="color:black;"></i>
                    </div>
                    <span class="user-show-logout">ログアウト</span>
                  <% end %>
                </li>
              </ul>
            <% else %>
              <ul class="user-show-icons">
                <li class="user-show-item-box">
                  <%= link_to "#" do %>
                    <div class="user-show-item-image" id="user-edit-btn">
                      <i class="fa-regular fa-image fa-2x" style="color:black;"></i>
                    </div>
                    <span class="user-show-item">投稿</span>
                  <% end %>
                </li>
              <%#div class="profile-user-follows">
                 <%# <p>フォロー</p><div class="profile-user-follow">３０</div>
                 <p>フォロワー</p><div class="profile-user-follow">５０００</div> %>
                 <%#= link_to "お気に入りの作品 ▼", favorites_user_path(@user), class: "profile-favorite" %> 
              <%#/div%> 
              </ul>
            <% end %>
            
               <%# /ログインしているページが本人か確認する %>
          </div>
        </div>
        <div class="user-show-profile">
          <%= simple_format(@user.profile) %>
        </div>
      </div>
    </div>

  <div class='user-show-article-contents'>
    <div class='user-show-article-user-box'>
      <div class="user-show-article-user-image">
        <% if @user.image.present?%>
          <%= image_tag @user.image, class: "user-show-article-user-img" %>
        <% else %>
          <%= image_tag "default.png", class: "user-show-article-user-img" %>
        <% end %>
      </div>
      <div class="user-show-article-user" >
        <%= @user.username %>さんの投稿
      </div>
    </div>
    <% if user_signed_in? && current_user.id == @user.id %>
      <ul class='user-show-article-lists'>
        <% @unless_articles.each do |article| %>
          <li class='user-show-article-list'>
            <%= link_to article_path(article.id), method: :get do %>
              <div class='user-show-article-box'>
                <% if article.status_private? %>
                  <div class='user-show-article-private'>
                    <%= t ".private" %>
                <% else article.status_public? %>
                  <div class='user-show-article-public'>
                    <%= t ".public" %>
                <% end %>
                  </div>
                <div class='user-show-article-img-content'>
                  <%= image_tag article.image, class: "user-show-article-img" if article.image.attached? %>
                </div>
                <div class='user-show-article-name'>
                  <%= article.article_name %>
                </div>
                <div class='user-show-article-date'>
                  <%= l article.created_at, format: :long %>
                </div>
                <div class='user-show-article-like-box'>
                  <div class='user-show-article-like'>
                    <i class="fa-solid fa-thumbs-up icon-like"></i>
                  </div>
                  <div class='user-show-article-like-count'>
                    <%= '5000' %>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <ul class='user-show-article-lists'>
        <% @articles.each do |article| %>
          <li class='user-show-article-list'>
            <%= link_to article_path(article.id), method: :get do %>
              <div class='user-show-article-box'>
                <div class='user-show-article-img-content'>
                  <%= image_tag article.image, class: "user-show-article-img" if article.image.attached? %>
                </div>
                <div class='user-show-article-name'>
                  <%= article.article_name %>
                </div>
                <div class='user-show-article-date'>
                  <%= l article.created_at, format: :long %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>



<% if @user_items.present? %>
  <div class="slider_toppage">
    <p class="slider_toppage_p"><%= @user.name %>さんの作品展</p>
    <div class="slider toppage">
      <% @user_items.each do |items| %>
        <div><%= link_to image_tag( items.image , class: :slider__img_toppage ),  item_path(items.id)%></div>
      <% end %>
    </div>
  </div>
<% end %>


</div>
