<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="header">
  <div class="left-header">
    <div class="header-app-icon">
      <%= link_to (image_tag "logo.png", class:"logo-img") , "/" %>
    </div>
    <div class='header-search-contents'>
      <form class="header-search-form" action="#">
        <button class="header-search-button">
          <div class="header-search-icon" >
          <i class="fa-solid fa-magnifying-glass" style="color:grey;"></i>
          </div>
        </button>
        <input class='header-input-box' placeholder='キーワードから検索'>
      </form>
    </div>
  </div>

  <div class="center-header">
    <ul class="header-menu">
      <li>
        <div class="header-icons" id="home-btn">
          <%= link_to root_path do %>
            <i class="fa-solid fa-house fa-2x fa-fw icon-a" style="color:black;"></i>
          <% end %>
        </div>
        <div class="header-nav hidden" id="pull-down">
          <span>ホーム</span>
        </div>
      </li>
      <li>
        <div class="header-icons" id="category-btn">
          <%= link_to root_path do %>
            <i class="fa-solid fa-tags fa-2x fa-fw icon-a" style="color:black;"></i>
          <% end %>
        </div>
        <div class="header-nav2 hidden" id="pull-down2">
          <span>カテゴリー</span>
        </div>
      </li>
      <li>
        <div class="header-icons" id="glossary-btn">
          <%= link_to root_path do %>
            <i class="fa-solid fa-spell-check fa-2x fa-fw icon-a" style="color:black;"></i>
          <% end %>
        </div>
        <div class="header-nav3 hidden" id="pull-down3">
          <span>用語集</span>
        </div>
      </li>
      <li>
        <div class="header-icons" id="q-btn">
          <%= link_to root_path do %>
            <i class="fa-solid fa-clipboard-question fa-2x fa-fw icon-a" style="color:black;"></i>
          <% end %>
        </div>
        <div class="header-nav4 hidden" id="pull-down4">
          <span>質問掲示板</span>
        </div>
      </li>
    </ul>
  </div>

  <div class='right-header'>
    <ul class='account-info'>
          <%# ログイン時の表示 %>
          <% if user_signed_in? %>
              <% if current_user.image.present?%>
                <li>
                  <div class="header-user-image" id="header-user-btn">
                    <%= link_to (image_tag current_user.image, class: "header-user-image"), user_path(current_user) %>
                  <div class="header-nav5 hidden" id="pull-down5">
                    <%= current_user.username %> 
                  </div>
                </li>
              <% else %>
                <li><%= link_to (image_tag "default.png", class: "header-user-iamge"),  user_path(current_user) %></li>
              <% end %>
            <li>
              <div class="logout-image" id="logout-btn">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-arrow-right-from-bracket fa-2x icon-a" style="color:black;"></i>
                <% end %>
              </div>
              <div class="header-nav6 hidden" id="pull-down6">
                <%= "ログアウト" %> 
              </div>
            </li>
          <%# /ログインの時 %>
          <% else %>
          <%# 未ログイン時の表示 %>
            <li>
              <div class="signup-image" id="signup-btn">
                <%= link_to new_user_registration_path do %>
                  <i class="fa-solid fa-user-plus fa-2x fa-fw" style="color:black;"></i>
                <% end %>
              </div>
              <div class="header-nav7 hidden" id="pull-down7">
                <span>新規登録</span>
              </div>
            </li>
            <li>
              <div class="login-image" id="login-btn">
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-arrow-right-to-bracket fa-2x fa-fw" style="color:black;"></i>
                <% end %>
              </div>
              <div class="header-nav8 hidden" id="pull-down8">
                <span>ログイン</span>
              </div>
            </li>
          <% end %>
          <%# /未ログイン時の表示 %>
    </ul>
  </div>
</header>