<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="top-page-header">
  <div class="little-garden-icon">
    <%= link_to (image_tag "logo.png", class:"logo-pc") , "/" %>
    <%#= link_to (image_tag "logo_responsive.png", class:"logo__mobile") , root_path %>
  </div>
  <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
    <ul class='lists-left'>
      <li><div class="menu-list" id="mypage-btn">MENU</div></li>
        <ul class="show-lists hidden" id="pull-down">
               <li><%= link_to"サイトについて", "#" ,class: "pull-down-list" %></li>
               <li><%= link_to"マイページ", "#" ,class: "pull-down-list" %></li>
               <li><%= link_to"投稿する", "#" ,class: "pull-down-list" %></li>
               <li><%= link_to"設定", edit_user_registration_path, class: "pull-down-list" %></li>
               <li><%= link_to"ログアウト", destroy_user_session_path, method: :delete, class: "pull-down-list" %></li>
        </ul>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'Q&A', "#", class: "q-and-a-list" %></li>
    </ul>
  </div>
  <div class='navi'>
    <ul class='nav-right'>
          <%# ログイン時の表示 %>
          <% if user_signed_in? %>
            <li><%= link_to  current_user.username, "#", class: "header-user-name" %></li>
              <% if current_user.image.present?%>
                <li><%= link_to (image_tag current_user.image  , class: "header-user-img"), "#" %></li>
              <% else %>
                <li><%= link_to (image_tag "default.png" , class: "header-user-img"), "#" %></li>
              <% end %>
            <li><%= link_to"ログアウト", destroy_user_session_path, method: :delete, class: "log-out-btn" %></li>
            <%# PC表示 %>
        
             <%# /PC表示 %>

            <%# mobile表示 %>
            <li><div class="nav-mobile">
              <%= image_tag "menu.png", id: "mypage-btn-mobile" %>
            </div></li>
            <%# /mobile表示 %>
            
           
          <%# /ログインの時 %>
          <% else %>
          <%# 未ログイン時の表示 %>
            <li><%= link_to "新規登録", new_user_registration_path, class: "sign-up-btn" %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "log-in-btn" %></li>
          <% end %>
          <%# /未ログイン時の表示 %>
    </ul>
  </div>
</header>