


<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='icon'>
    <%= link_to (image_tag "logo.png", class:"logo__pc") , root_path %>
  </div>
  <div class='search-bar-contents'>
    
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
  </div>
  <div class='navi'>
    <ul class='nav-menu'>
          <%# ログイン時の表示 %>
          <% if user_signed_in? %>
            <li><%= link_to  current_user.username, "#", class: :header__user__name %></li>
              <% if current_user.image.present?%>
                <li><%= link_to (image_tag current_user.image.url  , class: :header__user__img), user_path(current_user) %></li>
              <% else %>
                <li><%= link_to (image_tag "default.png" , class: :header__user__img), "#" %></li>
              <% end %>

            <%# PC表示 %>
            <li><div class="nav__pc">
              <p class="nav__frame" id="mypage__btn">MENU</P>
            </div></li>
             <%# /PC表示 %>

            <%# mobile表示 %>
            <li><div class="nav__mobile">
              <%= image_tag "menu.png", id: :mypage__btn__mobile %>
            </div></li>
            <%# /mobile表示 %>

             <ul class="show-lists hidden" id="pull-down">
               <li><%= link_to"サイトについて", "#" ,class: "pull-down-list" %></li>
               <li><%= link_to"マイページ", "#" ,class: "pull-down-list" %></li>
               <li><%= link_to"投稿する", "#" ,class: "pull-down-list" %></li>
               <li><%= link_to"設定", edit_user_registration_path ,class: "pull-down-list" %></li>
               <li><%= link_to"ログアウト", destroy_user_session_path ,class: "pull-down-list" %></li>
             </ul>
          <%# /ログインの時 %>
          <% else %>
          <%# 未ログイン時の表示 %>
            <li><%= link_to "新規登録", new_user_registration_path, class: :nav__btn %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: :nav__btn2 %></li>
          <% end %>
          <%# /未ログイン時の表示 %>
    </ul>
  </div>
  
</header>