<div class="sidebar">
 <div class='sidebar-main'>
    <ul class='sidebar-menu'>
          <% if user_signed_in? %>
            <% if current_user.image.present?%>
              <li><%= link_to (image_tag current_user.image, class: "sidebar-user-image"), user_path(current_user) %>
                <div><%= link_to  current_user.username, "/users/#{current_user.id}", class: "sidebar-user-name" %></div>
              </li>
            <% else %>
              <li><%= link_to (image_tag "default.png", class: "sidebar-user-image"), user_path(current_user) %>
                <div><%= link_to  current_user.username, "/users/#{current_user.id}", class: "sidebar-user-name" %></div>
              </li>
            <% end %>
            <li>
              <div class="user-room-image" id="user-room-btn">
                <%= link_to user_path(current_user) do %>
                  <i class="fa-solid fa-door-open fa-2x icon-b" style="color:black;"></i>
                <% end %>
              </div>
              <div><%= link_to "My Room", user_path(current_user), class: "sidebar-user-room" %></div>
            </li>
          <% else %>
            <li><%= link_to (image_tag "default.png", class: "sidebar-user-image"), new_user_session_path %></li>
              <div><%= link_to "ゲスト", new_user_session_path, class: "sidebar-user-name" %></div>
            <li>
              <div class="user-room-image" id="user-room-btn">
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-door-open fa-2x icon-b" style="color:black;"></i>
                <% end %>
              </div>
              <div><%= link_to "My Room", new_user_session_path, class: "sidebar-user-room" %></div>
            </li>
          <% end %>

            <li>
              <div class="user-list-image" id="user-list-btn">
                <%= link_to "#" do %>
                  <i class="fa-solid fa-bag-shopping fa-2x icon-b" style="color:black;"></i>
                <% end %>
              </div>
              <div><%= link_to "Myリスト", "#", class: "sidebar-user-list" %></div>
            </li>
            <li>
              <div class="user-star-image" id="user-star-btn">
                <%= link_to "#" do %>
                  <i class="fa-regular fa-star fa-2x icon-b" style="color:black;"></i>
                <% end %>
              </div>
              <div><%= link_to "お気に入り", "#", class: "sidebar-user-star" %></div>
            </li>
            <li>
              <div class="user-edit-image" id="user-edit-btn">
                <%= link_to edit_user_registration_path do %>
                  <i class="fa-solid fa-user-pen fa-2x icon-b" style="color:black;"></i>
                <% end %>
              </div>
              <div><%= link_to "ユーザー編集", edit_user_registration_path, class: "sidebar-user-edit" %></div>
            </li>
    </ul>
  </div>
</div>