<div class= "app">
  <%= render "shared/header" %>
  <div class="main">
    <%= render "shared/sidebar" %>
    <div class='user-form-main'>
      <%= form_with model: @user, url: new_user_session_path, class: 'user-form-login', local: true do |f| %>
        <div class='user-form-wrap'>
          <div class='user-form-header'>
            <h1 class='user-form-header-text'>
              ログイン
            </h1>
          </div>
          <div class='login-flash-message'>
            <%= flash[:notice] %>
            <%= flash[:alert] %>
          </div>
          <div class="user-form-group">
            <div class='user-form-text-wrap'>
              <label class="user-form-text">メールアドレス</label>
              <span class="indispensable">必須</span>
            </div>
            <%= f.email_field :email, class:"user-form-email", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
          </div>
          <div class="user-form-group">
            <div class='user-form-text-wrap'>
              <label class="user-form-text">パスワード</label>
              <span class="indispensable">必須</span>
            </div>
            <%= f.password_field :password, class:"user-form-password", id:"password", placeholder:"半角英数の両方含めて6文字以上" %>
          </div>
          <div class='login-btn'>
            <%= f.submit "ログイン" ,class:"login-green-btn" %>
          </div>
        </div>
      <% end %>
      <div class='user-signup-wrap'>
        <div class="account-signup">
          <div class='signup-info'>
            <hr>
            <label class="form-text">または</label>
            <hr>
          </div>
        </div>
        <div class="register-btn">
          <%= button_to "会員登録", new_user_registration_path, method: :get, class: "register-blue-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>
