<!DOCTYPE html>
<html>
  <head>
    <title>LittleGarden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <%= yield %>
    <span id="back">
      <a href="">
      <i class="fa-solid fa-circle-up fa-3x" style="color:black;"></i>
      </a>
    </span>
    
  </body>
</html>
